<div class="flex flex-col flex-auto min-w-0">
    @if (isLoading()) {
        <div class="flex items-center justify-center p-10">
            <div class="text-lg">Cargando datos del patrón...</div>
        </div>
    } @else {
        <div class="flex-auto p-5 sm:px-10">
            <div
                class="flex flex-col lg:flex-row gap-8 rounded-2xl w-full bg-card shadow overflow-hidden"
            >
                <div class="flex flex-col flex-auto p-8 lg:w-3/5">
                    <h2 class="text-2xl font-bold mb-6">
                        {{ isEditMode() ? "Editar Patrón" : "Crear Patrón" }}
                    </h2>

                    <form
                        class="flex flex-col"
                        [formGroup]="patternForm"
                        (ngSubmit)="handleFormSubmit()"
                    >
                        <div
                            class="grid grid-cols-1 md:grid-cols-2 gap-4 border-b pb-6 mb-4"
                        >
                            <div class="col-span-full">
                                <mat-label class="block mb-1 font-medium">
                                    Nombre
                                </mat-label>
                                <mat-form-field class="w-full">
                                    <input
                                        matInput
                                        formControlName="name"
                                        placeholder="Introduce un nombre descriptivo para el patrón"
                                    />
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-label class="block mb-1 font-medium">
                                    Tipo de Función
                                </mat-label>
                                <mat-form-field class="w-full">
                                    <mat-select formControlName="fType">
                                        <mat-option value="linear">
                                            Lineal
                                        </mat-option>
                                        <mat-option value="curve">
                                            Curva
                                        </mat-option>
                                        <mat-option value="parabolic">
                                            Parábola
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-label class="block mb-1 font-medium">
                                    Duración (segundos)
                                </mat-label>
                                <mat-form-field class="w-full">
                                    <input
                                        matInput
                                        type="number"
                                        formControlName="duration"
                                        placeholder="Ej: 1 hora = 3600 seg"
                                        min="0"
                                    />
                                </mat-form-field>
                            </div>

                            <div class="col-span-full">
                                <mat-label class="block mb-1 font-medium">
                                    Rango de valores entre los que generar
                                </mat-label>
                                <div class="flex gap-2">
                                    <mat-form-field class="w-1/2">
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="initValue"
                                            placeholder="Valor inicial"
                                            min="0"
                                        />
                                    </mat-form-field>
                                    <mat-form-field class="w-1/2">
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="endValue"
                                            placeholder="Valor final"
                                            min="0"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-span-full">
                                <mat-label class="block mb-1 font-medium">
                                    Variación/Error inferior y superior
                                </mat-label>
                                <div class="flex gap-2">
                                    <mat-form-field class="w-1/2">
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="minTolerance"
                                            placeholder="Variación inferior"
                                        />
                                    </mat-form-field>
                                    <mat-form-field class="w-1/2">
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="maxTolerance"
                                            placeholder="Variación superior"
                                            min="0"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center justify-end pt-4">
                            <button
                                mat-button
                                type="button"
                                (click)="navigateToPatternsList()"
                            >
                                Cancelar
                            </button>
                            <button
                                class="px-6 ml-3 text-white"
                                mat-flat-button
                                color="primary"
                                [disabled]="
                                    isSubmitting() || patternForm.invalid
                                "
                                type="submit"
                            >
                                {{
                                    isSubmitting()
                                        ? isEditMode()
                                            ? "Editando..."
                                            : "Creando..."
                                        : isEditMode()
                                          ? "Guardar"
                                          : "Crear"
                                }}
                            </button>
                        </div>
                    </form>
                </div>

                <div
                    class="hidden lg:flex w-2/5 items-center justify-center relative overflow-hidden"
                >
                    <img
                        class="absolute inset-0 w-full h-full object-contain"
                        [src]="previewImage()"
                        alt="Información sobre funcionamiento de parámetros de patrón"
                    />
                    <div
                        class="absolute inset-0 bg-black bg-opacity-10 pointer-events-none"
                    ></div>
                </div>
            </div>
        </div>
    }
</div>
