<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-5 sm:px-10">
        <div
            class="max-h-400 rounded-2xl w-full bg-card shadow overflow-hidden p-8"
        >
            <div class="flex w-full justify-between">
                <h2 class="text-2xl font-bold">Configuración de Sensores</h2>

                <div class="flex items-center justify-between mb-4">
                    <div class="flex justify-end">
                        <app-import-data-button
                            label="Importar sensores"
                            title="Importar sensores"
                            (dataImported)="handleDataImport($event)"
                        />

                        <app-export-data-button
                            label="Exportar sensores"
                            title="Exportar sensores"
                            [disabled]="!isSensorDataImported()"
                            [data]="sensorForm.value"
                        />

                        <div class="relative mx-4">
                            <input
                                type="text"
                                [ngModel]="searchQuery()"
                                (input)="handleSearchChange($event)"
                                placeholder="Buscar Alias, Eui, Addr..."
                                class="bg-white-200 border border-gray-300 text-gray-900 rounded-lg py-2 px-4 focus:outline-none focus:ring-1 focus:ring-sky-500"
                            />
                            <mat-icon
                                class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"
                                svgIcon="heroicons_mini:magnifying-glass"
                            />
                        </div>

                        <div class="flex shrink-0 items-center mt-6 sm:mt-0">
                            <button
                                class="bg-sky-400 hover:bg-sky-500 text-white"
                                mat-flat-button
                                type="button"
                                (click)="addCoordinate()"
                            >
                                <mat-icon
                                    class="icon-size-4"
                                    svgIcon="heroicons_mini:plus"
                                />
                                <span class="ml-2">Añadir</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <form [formGroup]="sensorForm" class="flex flex-col rounded-2xl">
                <!-- <div class="flex flex-col gt-xs:flex-row mb-4">
                    <mat-label class="block mb-2">Nombre</mat-label>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input matInput formControlName="name" />
                    </mat-form-field>
                </div> -->

                <!-- Localizaciones de Sensores -->
                <div
                    class="flex flex-col w-full space-y-4"
                    formArrayName="coordinates"
                >
                    <div
                        class="overflow-x-auto bg-white rounded-lg border border-gray-200"
                    >
                        <table class="w-full table-auto bg-transparent">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th
                                        class="px-4 py-3 text-left text-s font-medium text-gray-500 tracking-wider border-r"
                                    >
                                        Latitud
                                    </th>
                                    <th
                                        class="px-4 py-3 text-left text-s font-medium text-gray-500 tracking-wider border-r"
                                    >
                                        Longitud
                                    </th>
                                    <th
                                        class="px-4 py-3 text-left text-s font-medium text-gray-500 tracking-wider border-r"
                                    >
                                        Cota
                                    </th>
                                    <th
                                        class="px-4 py-3 text-left text-s font-medium text-gray-500 tracking-wider border-r"
                                    >
                                        Alias
                                    </th>
                                    <th
                                        class="px-4 py-3 text-left text-s font-medium text-gray-500 tracking-wider border-r"
                                    >
                                        Dev_eui
                                    </th>
                                    <th
                                        class="px-4 py-3 text-left text-s font-medium text-gray-500 tracking-wider border-r"
                                    >
                                        Join_eui
                                    </th>
                                    <th
                                        class="px-4 py-3 text-left text-s font-medium text-gray-500 tracking-wider border-r"
                                    >
                                        Dev_addr
                                    </th>
                                    <th
                                        class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider flex justify-center"
                                    ></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (
                                    sensor of filteredSensors();
                                    track sensor
                                ) {
                                    <tr [formGroup]="sensor">
                                        <!-- <td
                                            class="px-4 py-4 whitespace-nowrap text-s font-medium text-gray-600"
                                        > -->
                                        <td class="px-4 py-2 border-r border-t">
                                            <input
                                                matInput
                                                formControlName="lat"
                                                class="w-full px-2 py-1"
                                                type="number"
                                                placeholder="Latitud"
                                            />
                                        </td>
                                        <td
                                            class="px-4 py-4 whitespace-nowrap text-s font-medium text-gray-600 border-r border-t"
                                        >
                                            <input
                                                matInput
                                                formControlName="long"
                                                class="w-full px-2 py-1"
                                                type="number"
                                                placeholder="Longitud"
                                            />
                                        </td>
                                        <td
                                            class="px-4 py-4 whitespace-nowrap text-s font-medium text-gray-600 border-r border-t"
                                        >
                                            <input
                                                matInput
                                                formControlName="height"
                                                class="w-full px-2 py-1"
                                                type="number"
                                                placeholder="Cota"
                                            />
                                        </td>
                                        <td
                                            class="px-4 py-4 whitespace-nowrap text-s font-medium text-gray-600 border-r border-t"
                                        >
                                            <input
                                                matInput
                                                formControlName="alias"
                                                class="w-full px-2 py-1"
                                                placeholder="Alias"
                                            />
                                        </td>
                                        <td
                                            class="px-4 py-4 whitespace-nowrap text-s text-gray-600 border-r border-t"
                                        >
                                            <input
                                                matInput
                                                formControlName="dev_eui"
                                                class="w-full px-2 py-1"
                                                placeholder="Dev_eui"
                                            />
                                        </td>
                                        <td
                                            class="px-4 py-4 whitespace-nowrap text-s text-gray-600 border-r border-t"
                                        >
                                            <input
                                                matInput
                                                formControlName="join_eui"
                                                class="w-full px-2 py-1"
                                                placeholder="Join_eui"
                                            />
                                        </td>
                                        <td
                                            class="px-4 py-4 whitespace-nowrap text-s text-gray-600 border-r border-t"
                                        >
                                            <input
                                                matInput
                                                formControlName="dev_addr"
                                                class="w-full px-2 py-1"
                                                placeholder="Dev_addr"
                                            />
                                        </td>
                                        <td
                                            class="px-6 py-4 whitespace-nowrap text-s text-gray-600 space-x-2 flex justify-center border-t"
                                        >
                                            <button
                                                mat-icon-button
                                                type="button"
                                                color="warn"
                                                (click)="
                                                    removeCoordinate(sensor)
                                                "
                                            >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@if (showDataImportedDialog()) {
    <div
        class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    >
        <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
            <h2 class="text-lg font-semibold text-gray-800">
                Confirmar eliminación
            </h2>
            <p class="mt-4 text-sm text-gray-600">
                ¿Quieres añadir los sensores importados a la lista actual o
                deseas reemplazarlos? Esta acción no se puede deshacer.
            </p>
            <div class="mt-6 flex justify-end space-x-4">
                <button
                    class="px-4 py-2 text-base font-medium text-gray-600 hover:text-gray-800"
                    (click)="appendImportedData(); closeImportDialog()"
                >
                    Añadir
                </button>
                <button
                    class="px-4 py-2 text-base font-medium text-white bg-red-500 hover:bg-red-600 rounded"
                    (click)="replaceWithImportedData(); closeImportDialog()"
                >
                    Reemplazar lista actual
                </button>
            </div>
        </div>
    </div>
}
