<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-5 sm:px-10">
        <div class="flex w-full">
            <div
                class="max-h-400 rounded-2xl w-3/5 shadow bg-card overflow-hidden px-8 py-6 pb-0"
            >
                <div class="flex items-center justify-between mb-6">
                    <h2 class="text-2xl font-bold">
                        Configuración de Simulación
                    </h2>

                    <div class="flex justify-end">
                        <app-import-data-button
                            label="Importar simulación"
                            title="Importar simulación"
                            (dataImported)="onDataImported($event)"
                        />

                        <app-export-data-button
                            label="Exportar simulación"
                            title="Exportar simulación"
                            [disabled]="!isSimulationDataImported()"
                            [data]="dataToExport()"
                        />
                    </div>
                </div>

                <form
                    [formGroup]="simulationForm"
                    class="flex flex-col rounded-2xl"
                >
                    <div class="flex flex-row">
                        <div class="flex flex-col w-full">
                            <mat-label class="block mb-1">Nombre</mat-label>
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    formControlName="name"
                                    class="p-0"
                                    placeholder="Introduce un nombre descriptivo para la simulación"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="flex flex-col w-full mr-2">
                            <div class="flex flex-col">
                                <mat-label class="block mb-1">
                                    Nº registros en cada instante
                                </mat-label>
                                <div class="flex">
                                    <!-- Campo Mínimo -->
                                    <div class="w-2/5 mr-2">
                                        <mat-form-field class="w-full">
                                            <input
                                                matInput
                                                type="number"
                                                formControlName="minRecordsPerInstant"
                                                placeholder="Mín"
                                                min="0"
                                            />
                                        </mat-form-field>
                                    </div>
                                    <!-- Campo Máximo -->
                                    <div class="w-3/5">
                                        <mat-form-field class="w-full">
                                            <input
                                                matInput
                                                type="number"
                                                formControlName="maxRecordsPerInstant"
                                                placeholder="Máx"
                                                min="0"
                                            />
                                            <mat-checkbox
                                                formControlName="noRepeat"
                                                class="ml-4 flex-grow"
                                            >
                                                <p
                                                    class="text-sm leading-tight"
                                                >
                                                    No repetir elementos
                                                </p>
                                            </mat-checkbox>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    @if (
                                        simulationForm.hasError(
                                            "registrosExcedenCoordenadas"
                                        )
                                    ) {
                                        <mat-error class="text-md">
                                            El número de registros por instante
                                            no puede superar las
                                            {{ sensors()?.length }}
                                            coordenadas de sensores disponibles
                                            cuando el modo "No repetir" está
                                            activo.
                                        </mat-error>
                                    }
                                </div>
                            </div>
                            <!-- Campo Fechas entre las que simular -->
                            <div class="flex flex-col">
                                <div class="flex">
                                    <div class="flex flex-col w-1/2 mr-2">
                                        <!-- Fecha Inicio de generación -->
                                        <mat-label class="block mb-1">
                                            Fecha de inicio de generación
                                            <span style="color: lightslategray">
                                                (DD/MM/YYYY HH:mm:ss)
                                            </span>
                                        </mat-label>

                                        <mat-form-field class="w-full">
                                            <input
                                                matInput
                                                type="text"
                                                [value]="
                                                    simulationForm.controls
                                                        .timestampIni.value
                                                        | date
                                                            : 'dd/MM/yyyy HH:mm:ss'
                                                "
                                                (change)="
                                                    updateTimestamp(
                                                        'timestampIni',
                                                        $event.target.value
                                                    )
                                                "
                                                placeholder="Introduce una fecha de inicio"
                                            />

                                            <mat-hint>
                                                <button
                                                    type="button"
                                                    mat-flat-button
                                                    color="primary"
                                                    class="text-white mt-2"
                                                    (click)="
                                                        setPlaceholderDateToNow();
                                                        showTooltip.set(false)
                                                    "
                                                    style="font-size: 12px"
                                                >
                                                    Fecha actual
                                                </button>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-col w-1/2">
                                        <!-- Fecha Fin de generación -->
                                        <mat-label class="block mb-1">
                                            Fecha de fin de generación
                                            <span style="color: lightslategray">
                                                (DD/MM/YYYY HH:mm:ss)
                                            </span>
                                        </mat-label>

                                        <mat-form-field class="w-full">
                                            <input
                                                matInput
                                                type="text"
                                                [value]="
                                                    simulationForm.controls
                                                        .timestampEnd.value
                                                        | date
                                                            : 'dd/MM/yyyy HH:mm:ss'
                                                "
                                                (change)="
                                                    updateTimestamp(
                                                        'timestampEnd',
                                                        $event.target.value
                                                    )
                                                "
                                                placeholder="Introduce una fecha de fin"
                                            />

                                            <mat-hint>
                                                <button
                                                    type="button"
                                                    mat-flat-button
                                                    color="primary"
                                                    class="text-white mt-2"
                                                    (click)="
                                                        setPlaceholderDateToThreeDaysLater();
                                                        showTooltip.set(false)
                                                    "
                                                    style="font-size: 12px"
                                                >
                                                    Fecha en 3 días
                                                </button>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Segunda columna con "Segundo Nombre" y "Segunda Lista" -->
                        <div class="flex flex-col w-1/2 justify-between">
                            <!-- Segunda lista desplegable -->
                            <div class="flex flex-col">
                                <mat-label class="block mb-1">
                                    Tiempo entre registros
                                    <span style="color: lightslategray">
                                        (segundos)</span
                                    >
                                </mat-label>
                                <div class="flex">
                                    <!-- Campo Mínimo -->
                                    <div class="w-1/2 mr-2">
                                        <mat-form-field class="w-full p-0">
                                            <input
                                                matInput
                                                type="number"
                                                formControlName="minIntervalBetweenRecords"
                                                placeholder="Mín"
                                                min="0"
                                            />
                                        </mat-form-field>
                                    </div>
                                    <!-- Campo Máximo -->
                                    <div class="w-1/2">
                                        <mat-form-field class="w-full p-0">
                                            <input
                                                matInput
                                                type="number"
                                                formControlName="maxIntervalBetweenRecords"
                                                placeholder="Máx"
                                                min="0"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- Campos de Fecha de inicio y fin de generación -->
                            <div class="flex flex-col">
                                <mat-label class="block mb-1">
                                    Step
                                    <span style="color: lightslategray">
                                        (segundos)
                                    </span>
                                </mat-label>
                                <mat-form-field
                                    class="w-full flex items-center p-0"
                                >
                                    <input
                                        matInput
                                        type="number"
                                        formControlName="timeStep"
                                        min="0"
                                        required
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- Campo de Parámetros -->
                    <div class="flex flex-col mt-8">
                        <mat-label class="block flex items-center">
                            Parámetros
                            <div class="flex items-center relative">
                                <!-- Botón de información con ícono -->
                                <button
                                    mat-icon-button
                                    (click)="toggleTooltip()"
                                    type="button"
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        svgIcon="heroicons_outline:information-circle"
                                    />
                                </button>
                                <!-- Div flotante que muestra el formato JSON -->
                                @if (showTooltip()) {
                                    <div
                                        class="bg-gray-50 absolute left-10 z-50 bg-white border border-gray-300 shadow-lg p-4 min-w-[450px] max-w-[600px] max-h-[480px] overflow-y-auto"
                                    >
                                        <div
                                            class="flex justify-between items-start pb-0"
                                        >
                                            <h4 class="text-base font-semibold">
                                                Ejemplo de parámetros
                                            </h4>
                                            <button
                                                mat-icon-button
                                                (click)="showTooltip.set(false)"
                                                aria-label="Cerrar"
                                                type="button"
                                            >
                                                <mat-icon
                                                    class="text-gray-500 icon-size-5"
                                                >
                                                    close
                                                </mat-icon>
                                            </button>
                                        </div>
                                        <!-- Contenido JSON -->
                                        <div
                                            [innerHTML]="
                                                getFormattedMockParameters()
                                            "
                                        ></div>

                                        <!-- Botón para copiar el contenido -->
                                        <button
                                            mat-button
                                            class="absolute right-4 bottom-4 flex items-center"
                                            [cdkCopyToClipboard]="rawFormatJson"
                                            (cdkCopyToClipboardCopied)="
                                                showTooltip.set(false)
                                            "
                                        >
                                            <mat-icon>content_copy</mat-icon>
                                        </button>
                                    </div>
                                }
                            </div>
                        </mat-label>

                        <mat-form-field class="w-full">
                            <textarea
                                matInput
                                formControlName="parameters"
                                appJsonTextarea
                                class="resize-y min-h-[calc(13.5vh)] max-h-[260px]"
                                rows="4"
                                placeholder="{ }"
                            ></textarea>

                            @if (
                                simulationForm.controls.parameters.hasError(
                                    "invalidJsonParameters"
                                )
                            ) {
                                <mat-error class="text-md">
                                    El formato JSON no es válido
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <div class="flex my-3">
                        <!-- max-w-3xl -->
                        <div
                            class="w-full border border-gray-300 rounded-xl p-3 shadow-sm bg-secondary"
                        >
                            <div class="flex flex-col w-full">
                                <mat-label
                                    class="block mb-3 text-lg font-semibold"
                                >
                                    Secciones añadidas
                                </mat-label>

                                <chart-section-list
                                    [sections]="getCurrentSections().value"
                                    [activeEditingIndex]="editingSectionIndex"
                                    (sectionRemoved)="onRemoveSection($event)"
                                    (sectionReordered)="
                                        onReorderSections($event)
                                    "
                                    (editRequested)="
                                        onClickedEditButton($event)
                                    "
                                >
                                    <ng-template #editSectionTemplate>
                                        <create-section-form
                                            [patterns]="patterns()"
                                            [disabled]="
                                                !simulationForm.get('timeStep')
                                                    ?.value
                                            "
                                            [editing]="true"
                                            (edit)="onConfirmEdit($event)"
                                            (cancel)="cancelSectionEdition()"
                                        />
                                    </ng-template>
                                </chart-section-list>

                                @if (!getCurrentSections().value.length) {
                                    <p class="text-gray-600 text-center py-4">
                                        No se han añadido secciones aún.
                                    </p>
                                }

                                @if (creatingSection()) {
                                    <create-section-form
                                        [patterns]="patterns()"
                                        [editing]="false"
                                        [disabled]="
                                            !simulationForm.get('timeStep')
                                                ?.value
                                        "
                                        (create)="onCreateSection($event)"
                                        (cancel)="creatingSection.set(false)"
                                    />
                                }

                                <button
                                    type="button"
                                    class="mt-2 flex items-center justify-center gap-2 w-full py-2 px-4 bg-gray-50 text-gray-900 border border-gray-200 rounded-lg transition enabled:hover:bg-gray-100 disabled:bg-gray-200 disabled:text-gray-400 disabled:border-gray-200 disabled:cursor-not-allowed"
                                    [disabled]="
                                        !simulationForm.get('timeStep')?.value
                                    "
                                    (click)="creatingSection.set(true)"
                                >
                                    <mat-icon>add</mat-icon>
                                    Añadir sección
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="max-h-400 rounded-2xl w-2/5 ml-4">
                <div
                    class="flex flex-col p-6 py-0 bg-card rounded-2xl shadow overflow-hidden h-[calc(100vh-102px)]"
                >
                    <div
                        class="flex items-center justify-between border-b -mx-8 px-8 py-5 dark:bg-gray-700 rounded-b-lg mb-4"
                    >
                        <div class="flex">
                            <mat-label class="block text-lg">
                                Simulación
                            </mat-label>
                        </div>
                        <div class="flex">
                            <button
                                type="button"
                                mat-flat-button
                                color="primary"
                                class="text-white"
                                matTooltip="Instantáneamente"
                                matTooltipPosition="above"
                                (click)="initInstantSimulation()"
                                [disabled]="
                                    simulationForm.invalid || !sensors()?.length
                                "
                            >
                                Iniciar simulación
                            </button>
                        </div>
                    </div>
                    <simulation-viewer
                        class="flex flex-col p-4 bg-card rounded-2xl shadow overflow-auto bg-gray-50 h-full mb-4 border"
                        [generatedSimulation]="generatedSimulation()"
                    />

                    <!-- Progreso de simulación -->
                    <active-simulation
                        [activeSimulations]="activeSimulations$ | async"
                        (pauseSimulation)="
                            onTogglePauseSimulation($event.simulation.id)
                        "
                        (stopSimulation)="
                            onStopSimulation($event.simulation.id)
                        "
                        (closedSimulation)="
                            onClosedSimulation($event.simulation.id)
                        "
                    />
                </div>
            </div>
        </div>
    </div>
</div>
